<%- include('header.html') %>

<main class='container'>
    <form method='post'>
        <h3>Log In</h3>
        <input name='email' 
            placeholder='Your Email'
            class='form-control'
            autofocus>
        <input name='password' 
            placeholder='Your Password' 
            type='password'
            class='form-control'>
        <button class='btn btn-primary'>Log In</button>
        <a href='/'>Cancel</a>
    </form>
</main>

<%- include('footer.html') %>